@model aspCoreEmpty.Models.TasksExtended

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datasozdaniya)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datasozdaniya)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datazakritiya)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datazakritiya)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pomeschenie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pomeschenie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ispolnitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ispolnitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sozdatel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sozdatel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sozdatelemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sozdatelemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chtosdelat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chtosdelat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
